.contacts {
  font-size: 20px;
  display: flex;
  justify-content: start;
}

.team__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__member {
  width: 45%;
}

.map {
  margin-top: 20px;
}

.contact__address {
  margin-top: 40px;
  font-size: 20px;
}
