.icon {
  vertical-align: -4px;
}

.foto {
  margin: 0%;
  size: contain;
  text-align: center;
  padding: 0;
  margin-top: 1rem;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form label {
  color: #666;
}

.user_message,
.user_email,
.btn {
  font-size: 20px;
  padding: 5px;
  width: 300px;
  margin-top: 10px;
}

.btn {
  display: block;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: rgb(152, 152, 189);
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 0;
}

@media screen and (min-width: 576px) {
  .mp,
  .interest {
    text-align: right;
  }

  .space__text {
    text-align: left;
  }

  .galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .foto {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 991px) {
  .foto {
    width: 25%;
  }

  .foto.bigger {
    width: 50%;
  }
}
