.homepage {
  width: calc(100vw - 4rem);
  margin: 0 0 0 auto;
  padding: 0 17vw;
}


@media (min-width: 576px) {
  .homepage__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh
  }

  .homepage__galerie {
    width: 45%;
  }

  .homepage__content {
    width: 45%;
  }
  
  .homepage__text {
    line-height: 1.6;
  }

  .homepage_section1 {
    display: flex;
  }
}
