.exhibition-card {
  width: 100%;
  border: 1px solid black;
  font-size: 15px;
}

.exhibition-card__image {
  width: 100%;
}

.exhibition-card__author {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

@media (min-width: 576px) {
  .exhibition-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
}
